/* your css code */

.TabsSelector {
  width: 938px;
  /* display: flex;
  flex-direction: column;
  column-gap: 20px; */
}

.wrapperForInput {
  padding-bottom: 15px;
}

@media screen and (max-width: 1028px) {

  .TabsSelector {
    width: 451px;
  }


}