/* your css code */

.wrapperForTabSearch {
  width: 100%;
  min-width: 938px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding-top: 15px;
}

@media screen and (max-width: 1028px) {

  .wrapperForTabSearch {
  min-width: 451px;
  }

}