* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1010px;
  display: grid;
  grid-template-columns: 451px 451px;
  column-gap: 30px;
  row-gap: 30px;
}

h2.ant-typography {
  font-style: 12px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
}